@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
ul.open {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  padding: 1rem 4rem;
  width: 100%;
  left: 0%;
  background: #fff;
  z-index: 999;
  height: 25vh;
}

.logo {
  width: 10rem;
  height: 10rem;
}

.logo-header {
  font-size: 2.4rem;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  cursor: pointer;
}

.nav-icon {
  width: 2.4rem;
  height: 2rem;
}

.hero {
  position: relative;
  height: 90rem;
  background-image: url("/public/hero.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-right: 2rem;
}

.hero-text {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.hero-button {
  text-transform: uppercase;
  background-color: #b88e2f;
  color: #fff;
  border: none;
  padding: 2rem 5rem;
  font-size: 1.8rem;
  cursor: pointer;
}

.browse-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 5rem;
  padding: 1rem 5rem;
}

.products-image {
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 4rem;
  margin-bottom: 5rem;
}

.product-details {
  background-color: #f4f5f7cc;
}

.hovering-card {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #3a3a3a50;
}

.main-footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3rem;
  margin-bottom: 2rem;
}

.shop-hero {
  position: relative;
  background-image: url("/public/shop.png");
  height: 30rem;
}

.brands {
  background-color: #faf3ea;
  margin-top: 3.2rem;
  padding: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

main {
  margin-bottom: 2rem;
}

.active {
  color: #000;
}

.cart-hero {
  top: 10%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 100% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 42 59% 45%;
    --primary-foreground: 0 0% 98%;
    --secondary: 34, 62%, 95%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 0 0% 63%;
    --muted-foreground: 33 60% 94%;
    --accent: 0, 0%, 23%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 42 59% 45%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 0 0% 63%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
