@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
ul.open {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 1rem 0;
  width: 100%;
  left: 0;
  background: #fff;
  z-index: 999;
}

.menu-bar {
  display: none;
  width: 8rem;
  height: 2rem;
}

.logo {
  width: 10rem;
  height: 10rem;
}

.logo-header {
  font-size: 2.4rem;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  cursor: pointer;
}

.nav-icon {
  width: 2.4rem;
  height: 2rem;
}

.hero {
  position: relative;
  height: 90rem;
  background-image: url("/public/hero.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-right: 2rem;
}

.hero-container {
  position: absolute;
  background-color: #fff3e3;
  width: 50%;
  right: 5rem;
  top: 30rem;
  padding: 4rem;
}

.hero-new {
  text-transform: capitalize;
  font-size: 1.8rem;
  font-weight: 700;
}

.hero-header {
  text-transform: uppercase;
  font-size: 5rem;
  width: 85%;
  color: #b88e2f;
  margin: 0;
  font-weight: 700;
}

.hero-text {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.hero-button {
  text-transform: uppercase;
  background-color: #b88e2f;
  color: #fff;
  border: none;
  padding: 2rem 5rem;
  font-size: 1.8rem;
  cursor: pointer;
}

.browse-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 5rem;
  padding: 1rem 5rem;
}

.products-image {
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 4rem;
  margin-bottom: 5rem;
}

.product-details {
  background-color: #f4f5f7cc;
}

.hovering-card {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #3a3a3a50;
}

.footer {
  border-top: 1px solid #0000002b;
  padding: 2rem 7.2rem;
}

.main-footer {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3rem;
  margin-bottom: 2rem;
}

.footer-main-header {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.footer-text {
  color: #9f9f9f;
  width: 70%;
}

.footer-input {
  margin-top: 1rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  padding-bottom: 0.5rem;
  font-size: 1.4rem;
}

.button {
  background: none;
  margin-left: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
}

.footer-input::placeholder {
  color: #9f9f9f;
  font-weight: 400;
}

footer h4 {
  color: #9f9f9f;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

footer p {
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.bottom-footer {
  border-top: 1px solid #0000002b;
  padding-top: 2.4rem;
}

.shop-hero {
  position: relative;
  background-image: url("/public/shop.png");
  height: 30rem;
}

.shop-hero-container {
  position: absolute;
  top: 40%;
  left: 45%;
}

.shop-hero-header {
  font-size: 4.8rem;
}

.small-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.small-container p {
  font-size: 1.6rem;
}

.small-container-shop {
  font-weight: 300;
}

.filter {
  background: #f9f1e7;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 3.2rem;
}

.filter-first-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.6rem;
}
.filter-first-container p {
  padding-left: 4rem;
  border-left: 2px solid #9f9f9f;
  margin-left: 2rem;
}

.show-products {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.show-products h3 {
  font-size: 1.6rem;
  text-transform: capitalize;
}
.show-products input {
  font-size: 1.4rem;
  outline: none;
}

.show-inputs {
  padding: 0.8rem 1rem;
  width: 3.5rem;
}

.sorting-input {
  padding: 1rem;
  width: 10rem;
}

.brands {
  background-color: #faf3ea;
  margin-top: 3.2rem;
  padding: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

main {
  margin-bottom: 2rem;
}

.active {
  color: #000;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 100% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 42 59% 45%;
    --primary-foreground: 0 0% 98%;
    --secondary: 34, 62%, 95%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 0 0% 63%;
    --muted-foreground: 33 60% 94%;
    --accent: 0, 0%, 23%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 42 59% 45%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 0 0% 63%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
